<!DOCTYPE html>
<html>
  <head>
    <title>Rsc App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class='container'>
        <a class='navbar-brand' href='<%= root_path %>'>Reasonably Simple Computer</a>

        <div class='collapse navbar-collapse'>
          <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
              <a class='nav-link' href='<%= programs_path %>'>Programs</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='<%= instructions_path %>'>Instruction Set</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='<%= exercises_path %>'>Exercises</a>
            </li>
          </ul>
        </div>

        <div>
          <% if logged_in? %>
            You are logged in as <%= link_to current_user.login, edit_user_path(current_user) %> |
            <%= link_to 'Logout', logout_path, data: { method: :delete } %>
          <% else %>
            <%= link_to 'Login', login_path %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class='container mt-4'>
      <% if notice %>
        <div id='notice' class='alert alert-info' role='alert'>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div id='alert' class='alert alert-danger' role='alert'>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
